.container,
.container-wider,
.container-fluid {
  overflow-y: auto;
  padding: 0 $width-gap $width-gap;
  width: 100%;
}

.container {
  max-width: $max-width-container;
}

.container-wider {
  max-width: $max-width-container-wider;
}

.container-fluid {
  max-width: 100%;
}
